h1, h2, h3, p {
    font-family:Arial, Helvetica, sans-serif
} 

h1{
    text-align: center;
}

h2 {
    color: green;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.card1, .card2 {
    text-align: left;
    display: inline-block;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-color: red;
    border-top-width: 5px;
    margin: 10px;
    vertical-align: middle;
}

@media(max-width: 600px) {

}
